USE [SDW_Stage_Prod]
GO
/****** Object:  Table [dbo].[User_SF]    Script Date: 12/1/2016 8:48:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User_SF](
	[Id] [varchar](18) NOT NULL,
	[Username] [varchar](80) NOT NULL,
	[LastName] [varchar](80) NOT NULL,
	[FirstName] [varchar](40) NULL,
	[Name] [varchar](121) NOT NULL,
	[CompanyName] [varchar](80) NULL,
	[Division] [varchar](80) NULL,
	[Department] [varchar](80) NULL,
	[Title] [varchar](80) NULL,
	[Street] [varchar](255) NULL,
	[City] [varchar](40) NULL,
	[State] [varchar](80) NULL,
	[PostalCode] [varchar](20) NULL,
	[Country] [varchar](80) NULL,
	[Email] [varchar](128) NOT NULL,
	[Phone] [varchar](40) NULL,
	[Fax] [varchar](40) NULL,
	[MobilePhone] [varchar](40) NULL,
	[Alias] [varchar](8) NOT NULL,
	[CommunityNickname] [varchar](40) NOT NULL,
	[IsActive] [int] NOT NULL,
	[TimeZoneSidKey] [varchar](40) NOT NULL,
	[UserRoleId] [varchar](18) NULL,
	[LocaleSidKey] [varchar](40) NOT NULL,
	[ReceivesInfoEmails] [int] NOT NULL,
	[ReceivesAdminInfoEmails] [int] NOT NULL,
	[EmailEncodingKey] [varchar](40) NOT NULL,
	[ProfileId] [varchar](18) NOT NULL,
	[UserType] [varchar](40) NULL,
	[LanguageLocaleKey] [varchar](40) NOT NULL,
	[EmployeeNumber] [varchar](20) NULL,
	[DelegatedApproverId] [varchar](18) NULL,
	[ManagerId] [varchar](18) NULL,
	[LastLoginDate] [datetime] NULL,
	[LastPasswordChangeDate] [datetime] NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedById] [varchar](18) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedById] [varchar](18) NOT NULL,
	[SystemModstamp] [datetime] NOT NULL,
	[OfflineTrialExpirationDate] [datetime] NULL,
	[OfflinePdaTrialExpirationDate] [datetime] NULL,
	[UserPermissionsMarketingUser] [int] NOT NULL,
	[UserPermissionsOfflineUser] [int] NOT NULL,
	[UserPermissionsAvantgoUser] [int] NOT NULL,
	[UserPermissionsCallCenterAutoLogin] [int] NOT NULL,
	[UserPermissionsMobileUser] [int] NOT NULL,
	[UserPermissionsSFContentUser] [int] NOT NULL,
	[UserPermissionsInteractionUser] [int] NOT NULL,
	[UserPermissionsChatterAnswersUser] [int] NOT NULL,
	[ForecastEnabled] [int] NOT NULL,
	[UserPreferencesActivityRemindersPopup] [int] NOT NULL,
	[UserPreferencesEventRemindersCheckboxDefault] [int] NOT NULL,
	[UserPreferencesTaskRemindersCheckboxDefault] [int] NOT NULL,
	[UserPreferencesReminderSoundOff] [int] NOT NULL,
	[UserPreferencesContentNoEmail] [int] NOT NULL,
	[UserPreferencesContentEmailAsAndWhen] [int] NOT NULL,
	[UserPreferencesApexPagesDeveloperMode] [int] NOT NULL,
	[UserPreferencesHideCSNGetChatterMobileTask] [int] NOT NULL,
	[UserPreferencesHideCSNDesktopTask] [int] NOT NULL,
	[UserPreferencesOptOutOfTouch] [int] NOT NULL,
	[UserPreferencesLightningExperiencePreferred] [int] NOT NULL,
	[ContactId] [varchar](18) NULL,
	[AccountId] [varchar](18) NULL,
	[CallCenterId] [varchar](18) NULL,
	[Extension] [varchar](40) NULL,
	[PortalRole] [varchar](40) NULL,
	[IsPortalEnabled] [int] NOT NULL,
	[FederationIdentifier] [varchar](512) NULL,
	[AboutMe] [varchar](1000) NULL,
	[FullPhotoUrl] [varchar](1024) NULL,
	[SmallPhotoUrl] [varchar](1024) NULL,
	[Reference_Id__c] [varchar](100) NULL,
	[School__c] [varchar](100) NULL,
	[Site__c] [varchar](255) NULL
) ON [PRIMARY]

GO
