USE [SDW_Stage_Prod]
GO
/****** Object:  Table [dbo].[Behavior_Incident__c]    Script Date: 12/1/2016 8:48:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Behavior_Incident__c](
	[Id] [varchar](18) NOT NULL,
	[OwnerId] [varchar](18) NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[Name] [varchar](80) NOT NULL,
	[RecordTypeId] [varchar](18) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedById] [varchar](18) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedById] [varchar](18) NOT NULL,
	[SystemModstamp] [datetime] NOT NULL,
	[LastActivityDate] [datetime] NULL,
	[Additional_Comments__c] [varchar](255) NULL,
	[Addl_Educational_Time_Lost__c] [decimal](18, 0) NULL,
	[Adult_On_Duty_Email__c] [varchar](80) NULL,
	[Adult_on_Duty__c] [varchar](18) NULL,
	[Alternative_Seating__c] [int] NOT NULL,
	[Behavior_Category_For_Reporting__c] [varchar](255) NULL,
	[Behavior_Category_Input__c] [varchar](255) NULL,
	[Behavior_Contract__c] [int] NOT NULL,
	[Behavior_External_ID__c] [varchar](32) NULL,
	[Behavior_Incident_Type_Read_Only__c] [varchar](1300) NULL,
	[Behavior_Tier__c] [varchar](255) NULL,
	[Behavior_Type__c] [varchar](255) NULL,
	[Buddy_Classroom__c] [int] NOT NULL,
	[Context_Location__c] [varchar](255) NULL,
	[Context_Time__c] [varchar](255) NULL,
	[Did_this_incident_occur_during_EDP__c] [int] NOT NULL,
	[External_Id__c] [varchar](255) NULL,
	[Incident_Date__c] [datetime] NULL,
	[Incident_Description__c] [varchar](255) NULL,
	[Incident_Identifier__c] [varchar](30) NULL,
	[Incident_Points__c] [decimal](18, 0) NULL,
	[Incident_Status__c] [varchar](255) NULL,
	[Incident_Time__c] [varchar](255) NULL,
	[Incident_Title__c] [varchar](150) NULL,
	[Incident_Type__c] [varchar](255) NULL,
	[Incident_Weighting__c] [decimal](18, 2) NULL,
	[Loss_Of_Privilege__c] [int] NOT NULL,
	[Marked_For_Deletion__c] [int] NOT NULL,
	[Notify_Incident_Owner__c] [int] NOT NULL,
	[Other_Adult_Involved_1_Email__c] [varchar](80) NULL,
	[Other_Adult_Involved_1__c] [varchar](18) NULL,
	[Other_Adult_Involved_2_Email__c] [varchar](80) NULL,
	[Other_Adult_Involved_2__c] [varchar](18) NULL,
	[Other_Notes__c] [varchar](255) NULL,
	[Other__c] [int] NOT NULL,
	[Practice_desired_behavior__c] [int] NOT NULL,
	[Preserve__c] [int] NOT NULL,
	[Request_Info_3rdParty__c] [int] NOT NULL,
	[Request_Info_Adult1__c] [int] NOT NULL,
	[Request_Info_Adult2__c] [int] NOT NULL,
	[Request_Info_AoD__c] [int] NOT NULL,
	[Request_Info_KW__c] [int] NOT NULL,
	[Restitution_Community_Service__c] [int] NOT NULL,
	[Selected_Behavior_Category__c] [varchar](40) NULL,
	[Selected_Behavior_Incident_Type_Formula__c] [varchar](1300) NULL,
	[Selected_Behavior_Incident_Type__c] [varchar](18) NULL,
	[Show_In_Portal__c] [int] NOT NULL,
	[Student_Involved_Full_Name__c] [varchar](255) NULL,
	[Student_Witness__c] [varchar](18) NULL,
	[Take_A_Break__c] [int] NOT NULL,
	[Time_Out__c] [int] NOT NULL,
	[Verbal_Redirection__c] [int] NOT NULL,
	[Verbal_or_written_apology__c] [int] NOT NULL,
	[Weapon_Type__c] [varchar](255) NULL
) ON [PRIMARY]

GO
