USE [SDW_Stage_Prod]
GO
/****** Object:  View [dbo].[vw_SCH_SPMBEH_SessionSkills]    Script Date: 12/19/2016 4:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO







CREATE VIEW [dbo].[vw_SCH_SPMBEH_SessionSkills] as

SELECT * FROM
(SELECT *, CONCAT(ABREV, ': ', APPEND) AS SESSION_SKILL_FORUSE
FROM
(SELECT *, 
CASE 
	WHEN ABBREV_SESSIONSKILL LIKE 'DECISION%' THEN 'DM'
	WHEN ABBREV_SESSIONSKILL LIKE 'GOAL%' THEN 'GB' 
	WHEN ABBREV_SESSIONSKILL LIKE 'OPTIMI%' THEN 'OT'
	WHEN ABBREV_SESSIONSKILL LIKE 'PERSONAL%' THEN 'PR' 
	WHEN ABBREV_SESSIONSKILL LIKE 'RELAT%' THEN 'RS' 
	WHEN ABBREV_SESSIONSKILL LIKE 'SELF-AW%' THEN 'SA'
	WHEN ABBREV_SESSIONSKILL LIKE 'SELF-MA%' THEN 'SM' 
	WHEN ABBREV_SESSIONSKILL LIKE 'SOCIAL-AW%' THEN 'SO' END AS ABREV
FROM
(SELECT SESSION_ID, 
	STUDENT_IA_BEH,
	SECTION_IA,
	PROGRAM_DESCRIPTION,
	SESSION_SKILLS,
	CY_STUDENT_ID,
	STUDENT_SCHOOL_NAME,
	CYCH_ACCNT_SF_iD,
	STUDENT_SF_ID,
	Section_Primary_Staff,
	Section_Primary_Staff_ID, 
	BUSINESS_UNIT,
	substring(SESSION_SKILLS, 1, case when CHARINDEX(',', session_SKILLS)> 0 then charindex(',', session_skills)-1 else len(session_skills) end) AS PRIMARYSKILL, 
	substring(SESSION_SKILLS, 1, CASE WHEN CHARINDEX(':', SESSION_SKILLS)>0 THEN CHARINDEX(':', SESSION_SKILLS)-1 ELSE LEN(SESSION_sKILLS) END) AS ABBREV_SESSIONSKILL,
	SUBSTRING(substring(SESSION_SKILLS, 1, case when CHARINDEX(',', session_SKILLS)> 0 then charindex(',', session_skills)-1 else len(session_skills) END), CHARINDEX(':', SESSION_SKILLS)+2, LEN(SESSION_SKILLS)) AS APPEND 
FROM SDW_STAGE_PROD.DBO.VW_INTERVENTION_FINAL
WHERE SESSION_DATE>=(GETDATE()-42) and business_unit is not null and section_ia like 'beh%' AND STUDENT_IA_BEH=1 and SESSION_SKILLS NOT IN ('Other', 'Homework Assistance', 'Enrichment Activity', 'Other Attendance skill not listed')) A) B) C where SESSION_SKILL_FORUSE not like ':%'









GO
