USE [SDW_Stage_Prod]
GO
/****** Object:  Table [dbo].[Assesment__c]    Script Date: 12/19/2016 4:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Assesment__c](
	[Id] [varchar](18) NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[Name] [varchar](80) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedById] [varchar](18) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedById] [varchar](18) NOT NULL,
	[SystemModstamp] [datetime] NOT NULL,
	[Student__c] [varchar](18) NOT NULL,
	[Topic_of_Check_In__c] [varchar](255) NULL,
	[Goal_set__c] [varchar](255) NULL,
	[A_to_Z_Alpha_Scale__c] [varchar](255) NULL,
	[Average_Daily_Attendance__c] [decimal](18, 3) NULL,
	[Assessment_Name__c] [varchar](1300) NULL,
	[Assessment_Results__c] [varchar](255) NULL,
	[Benchmark_DCCAS_Math__c] [varchar](25) NULL,
	[Benchmark_DCCAS_Reading__c] [varchar](25) NULL,
	[Composite_Score__c] [decimal](18, 0) NULL,
	[DRP_Proficiency_Level__c] [varchar](255) NULL,
	[Comprehension_Score__c] [varchar](255) NULL,
	[Contact__c] [varchar](18) NULL,
	[Critical_Reading_Percentile__c] [varchar](255) NULL,
	[Critical_Reading_Scale_Score__c] [varchar](255) NULL,
	[Difficulty_of_Goal__c] [varchar](255) NULL,
	[DCCAS_Math_Goal_Met__c] [int] NOT NULL,
	[DCCAS_Reading_Goal_Met__c] [int] NOT NULL,
	[DRA_Comprehension__c] [decimal](18, 0) NULL,
	[DRA_Level__c] [decimal](18, 0) NULL,
	[DRA_Oral_Reading__c] [decimal](18, 0) NULL,
	[DRA_Reading_Engagement__c] [decimal](18, 0) NULL,
	[DRA_WPM__c] [decimal](18, 0) NULL,
	[Date_Administered__c] [datetime] NULL,
	[Date__c] [datetime] NULL,
	[Days_Enrolled__c] [decimal](18, 1) NULL,
	[Goal_progress__c] [varchar](255) NULL,
	[Date_of_Goal_Completion__c] [datetime] NULL,
	[English_Scale_Score__c] [varchar](255) NULL,
	[External_Id__c] [varchar](255) NULL,
	[FP_Accuracy_Percentile__c] [varchar](255) NULL,
	[FP_BOY_Independent_Level__c] [varchar](255) NULL,
	[FP_Fluency_Score__c] [varchar](255) NULL,
	[FP_Independent_Level__c] [varchar](255) NULL,
	[FP_Instructional_Level__c] [varchar](255) NULL,
	[Form_Type__c] [varchar](255) NULL,
	[Frequency_Type__c] [varchar](255) NULL,
	[Frequency__c] [varchar](255) NULL,
	[GMcG_Comp_Level__c] [varchar](255) NULL,
	[GMcG_Overall_GE__c] [varchar](255) NULL,
	[GMcG_Vocab_Level__c] [varchar](255) NULL,
	[Goal_Met__c] [int] NOT NULL,
	[DRP_Exam_Score__c] [decimal](18, 0) NULL,
	[Number_of_Acts_of_Greatness_for_week__c] [decimal](18, 1) NULL,
	[Interval__c] [varchar](255) NULL,
	[Letters_Score__c] [varchar](255) NULL,
	[Lexile_Score__c] [decimal](18, 1) NULL,
	[SBAC_Math_Band__c] [varchar](255) NULL,
	[Listening_Score__c] [varchar](255) NULL,
	[Literacy_Score__c] [varchar](255) NULL,
	[SBAC_ELA_Band__c] [varchar](255) NULL,
	[Location__c] [varchar](1300) NULL,
	[Math_Grade_Equivalent__c] [varchar](255) NULL,
	[Math_Growth__c] [varchar](255) NULL,
	[Math_NCE_Score__c] [varchar](255) NULL,
	[Math_Percent_Correct__c] [varchar](255) NULL,
	[Math_Percentile__c] [varchar](255) NULL,
	[Math_Proficiency_Level__c] [varchar](255) NULL,
	[Math_Scale_Score__c] [varchar](255) NULL,
	[SBAC_Math_Scale_Score__c] [decimal](18, 0) NULL,
	[Number_of_Acts_of_Leadership_for_week__c] [decimal](18, 1) NULL,
	[Number_of_Absences__c] [decimal](18, 1) NULL,
	[Number_of_Detentions__c] [decimal](18, 1) NULL,
	[Number_of_Excused_Absences__c] [decimal](18, 1) NULL,
	[Number_of_In_School_Suspensions__c] [decimal](18, 1) NULL,
	[Number_of_Office_Referrals__c] [decimal](18, 1) NULL,
	[Number_of_Out_of_School_Suspensions__c] [decimal](18, 1) NULL,
	[Number_of_Suspensions__c] [decimal](18, 1) NULL,
	[Number_of_Tardies__c] [decimal](18, 0) NULL,
	[Number_of_Unexcused_Absences__c] [decimal](18, 1) NULL,
	[DTM_CLASS__c] [varchar](40) NULL,
	[DTM_CLASS_ID__c] [varchar](32) NULL,
	[Oral_Score__c] [varchar](255) NULL,
	[Other_Assessment_Title__c] [varchar](255) NULL,
	[Overall_Score__c] [varchar](255) NULL,
	[DTM_TEST_NUMBER_DATE__c] [datetime] NULL,
	[Percentile_Score__c] [decimal](18, 0) NULL,
	[SBAC_ELA_Scale_Score__c] [decimal](18, 0) NULL,
	[Performance_Value_ID__c] [varchar](255) NULL,
	[Performance_Value_Name__c] [varchar](255) NULL,
	[Proficiency_Level__c] [varchar](255) NULL,
	[Daze__c] [decimal](18, 0) NULL,
	[DTM_TEST_NUMBER_PROGRAM__c] [varchar](45) NULL,
	[Raw_Score__c] [decimal](18, 0) NULL,
	[Reading_Grade_Equivalent__c] [varchar](255) NULL,
	[Reading_Growth__c] [varchar](255) NULL,
	[Reading_Level__c] [varchar](255) NULL,
	[Reading_NCE_Score__c] [varchar](255) NULL,
	[Reading_Percent_Correct__c] [varchar](255) NULL,
	[Reading_Percentile__c] [varchar](255) NULL,
	[Reading_Proficiency_Level__c] [varchar](255) NULL,
	[Reading_Scale_Score__c] [varchar](255) NULL,
	[Reading_Score__c] [varchar](255) NULL,
	[Retell_Quality_of_Response__c] [decimal](18, 0) NULL,
	[Retell_Score__c] [decimal](18, 0) NULL,
	[Rhyming_Score__c] [varchar](255) NULL,
	[Scale_Score__c] [varchar](255) NULL,
	[DTM_TEST_NUMBER_TOPIC_NAME__c] [varchar](45) NULL,
	[Scan_Language_NCE__c] [varchar](255) NULL,
	[Scan_Language_SIP__c] [varchar](255) NULL,
	[Scan_Language_Scale__c] [varchar](255) NULL,
	[Scan_Math_NCE__c] [varchar](255) NULL,
	[Scan_Math_SIP__c] [varchar](255) NULL,
	[Maze__c] [decimal](18, 0) NULL,
	[Scan_Reading_NCE__c] [varchar](255) NULL,
	[Scan_Reading_SIP__c] [varchar](255) NULL,
	[Average_Ability_Score__c] [decimal](18, 0) NULL,
	[School__c] [varchar](1300) NULL,
	[Science_Scale_Score__c] [varchar](255) NULL,
	[Score__c] [varchar](255) NULL,
	[Selection_Index_Percentile__c] [varchar](255) NULL,
	[Selection_Index__c] [varchar](255) NULL,
	[Show_On_Report_Card__c] [int] NOT NULL,
	[Show_On_Transcript__c] [int] NOT NULL,
	[Slos_Computation__c] [varchar](255) NULL,
	[Slos_Math_Concepts__c] [varchar](255) NULL,
	[Slos_Problem_Solving__c] [varchar](255) NULL,
	[Speaking_Score__c] [varchar](255) NULL,
	[Standard_Score__c] [decimal](18, 0) NULL,
	[Stanine__c] [decimal](18, 0) NULL,
	[Student_Grade__c] [varchar](1300) NULL,
	[DTM_TEST_NUMBER_TEST_TYPE__c] [varchar](45) NULL,
	[Student_Id__c] [varchar](255) NULL,
	[Student_Name__c] [varchar](255) NULL,
	[Subject__c] [varchar](255) NULL,
	[TRC_Alpha_Scale_Score__c] [varchar](255) NULL,
	[TRC_Alpha_Scale_Student_Target_Score__c] [varchar](255) NULL,
	[WRT_Ability_Score__c] [decimal](18, 0) NULL,
	[TSG_Attends_Engages__c] [varchar](255) NULL,
	[TSG_Balancing_Skills__c] [varchar](255) NULL,
	[TSG_Cares_Needs__c] [varchar](255) NULL,
	[DTM_TEST_NUMBER_ITEMS_CORRECT__c] [decimal](18, 0) NULL,
	[TSG_Classification_Skills__c] [varchar](255) NULL,
	[TSG_Comp_Language__c] [varchar](255) NULL,
	[TSG_Compares_Measures__c] [varchar](255) NULL,
	[TSG_Conventional_Grammar__c] [varchar](255) NULL,
	[TSG_Conveys_Meaning__c] [varchar](255) NULL,
	[TSG_Counts__c] [varchar](255) NULL,
	[TSG_Curiosity_Motivation__c] [varchar](255) NULL,
	[TSG_Drawing_Tools__c] [varchar](255) NULL,
	[TSG_Emergent_Reading__c] [varchar](255) NULL,
	[TSG_Emotional_Cues__c] [varchar](255) NULL,
	[TSG_Engages_Conversations__c] [varchar](255) NULL,
	[TSG_Expanding_Vocab__c] [varchar](255) NULL,
	[TSG_Fingers_Hands__c] [varchar](255) NULL,
	[TSG_Flexible_Thinking__c] [varchar](255) NULL,
	[TSG_Follows_Directions__c] [varchar](255) NULL,
	[TSG_Interacts_Books__c] [varchar](255) NULL,
	[TSG_Interacts_Peers__c] [varchar](255) NULL,
	[TSG_Letter_Sound__c] [varchar](255) NULL,
	[TSG_Limits_Expectations__c] [varchar](255) NULL,
	[TSG_Makes_Connections__c] [varchar](255) NULL,
	[TSG_Makes_Friends__c] [varchar](255) NULL,
	[TSG_Manages_Feelings__c] [varchar](255) NULL,
	[TSG_Motor_Skills__c] [varchar](255) NULL,
	[TSG_Names_Letters__c] [varchar](255) NULL,
	[TSG_Needs_Rights__c] [varchar](255) NULL,
	[TSG_Notices_Alliteration__c] [varchar](255) NULL,
	[TSG_Notices_Rhyme__c] [varchar](255) NULL,
	[TSG_Numerals_Quantities__c] [varchar](255) NULL,
	[TSG_Pattern_Knowledge__c] [varchar](255) NULL,
	[TSG_Persists__c] [varchar](255) NULL,
	[TSG_Print_Concepts__c] [varchar](255) NULL,
	[TSG_Qualifies__c] [varchar](255) NULL,
	[TSG_Recognizes_Recalls__c] [varchar](255) NULL,
	[TSG_Relationships_Adults__c] [varchar](255) NULL,
	[TSG_Retells_Stories__c] [varchar](255) NULL,
	[TSG_Rules_Language__c] [varchar](255) NULL,
	[TSG_Small_Sounds__c] [varchar](255) NULL,
	[TSG_Social_Problems__c] [varchar](255) NULL,
	[TSG_Sociodramatic_Play__c] [varchar](255) NULL,
	[TSG_Solves_Problems__c] [varchar](255) NULL,
	[TSG_Spatial_Relationships__c] [varchar](255) NULL,
	[TSG_Speaks_Clearly__c] [varchar](255) NULL,
	[TSG_Thinks_Symbolically__c] [varchar](255) NULL,
	[TSG_Time_Place__c] [varchar](255) NULL,
	[TSG_Traveling_Skills__c] [varchar](255) NULL,
	[TSG_Understands_Shapes__c] [varchar](255) NULL,
	[TSG_Uses_Books__c] [varchar](255) NULL,
	[TSG_Writes_Name__c] [varchar](255) NULL,
	[Test_Type__c] [varchar](255) NULL,
	[Testing_Grade_Level__c] [varchar](255) NULL,
	[Time_Period__c] [varchar](255) NULL,
	[Time__c] [varchar](18) NULL,
	[Title_of_Assessment__c] [varchar](255) NULL,
	[Type__c] [varchar](18) NULL,
	[Vocabulary_Score__c] [varchar](255) NULL,
	[Writing_Percentile__c] [varchar](255) NULL,
	[Writing_Scale_Score__c] [varchar](255) NULL,
	[Writing_Score__c] [varchar](255) NULL,
	[Year_Over_Year__c] [int] NOT NULL,
	[DTM_TEST_NUMBER_TOTAL_PERCENT_SCORE__c] [decimal](18, 0) NULL,
	[X0_to_1000_Scaled_Score__c] [decimal](18, 1) NULL,
	[VKT_Ability_Score__c] [decimal](18, 0) NULL,
	[X0_to_1000_Student_Target_Score__c] [decimal](18, 1) NULL,
	[X0_to_100_Scale_Score__c] [decimal](18, 3) NULL,
	[RCT_Ability_Score__c] [decimal](18, 0) NULL,
	[X0_to_100_Scale_Student_Target_Score__c] [decimal](18, 3) NULL,
	[X0_to_300_Scaled_Score__c] [decimal](18, 1) NULL,
	[Percent_Correct__c] [decimal](18, 3) NULL,
	[X0_to_300_Student_Target_Score__c] [decimal](18, 1) NULL,
	[Age_at_Rating__c] [decimal](18, 0) NULL,
	[Age_at_Rating_in_Months__c] [decimal](18, 0) NULL,
	[Age_at_Rating_in_Years__c] [decimal](18, 0) NULL,
	[AIMSweb_ELA_Scale_score__c] [decimal](18, 1) NULL,
	[AIMSweb_ELA_Student_Target_Score__c] [decimal](18, 1) NULL,
	[AIMSweb_Math_Scale_score__c] [decimal](18, 1) NULL,
	[AIMSweb_Math_Student_Target_Score__c] [decimal](18, 1) NULL,
	[MSD_Computation_Score__c] [decimal](18, 0) NULL,
	[BPS_Predictive_Scaled_Score__c] [decimal](18, 3) NULL,
	[Student_Reading_Level__c] [varchar](255) NULL,
	[Sum_of_Tardies_and_Unexcused_Absences__c] [decimal](18, 0) NULL,
	[Decision_Making_Percentile__c] [decimal](18, 0) NULL,
	[Decision_Making_Raw_Score__c] [decimal](18, 0) NULL,
	[Decision_Making_T_Score__c] [decimal](18, 0) NULL,
	[TestStartDate__c] [datetime] NULL,
	[DIBELS_GLE_Student_Target_Score__c] [decimal](18, 1) NULL,
	[DIBELS_Grade_Level_Equivalent_Score__c] [decimal](18, 1) NULL,
	[TestDurationMinutes__c] [varchar](255) NULL,
	[DM_Q1__c] [decimal](18, 0) NULL,
	[DM_Q2__c] [decimal](18, 0) NULL,
	[DM_Q3__c] [decimal](18, 0) NULL,
	[DM_Q4__c] [decimal](18, 0) NULL,
	[DM_Q5__c] [decimal](18, 0) NULL,
	[DM_Q6__c] [decimal](18, 0) NULL,
	[DM_Q7__c] [decimal](18, 0) NULL,
	[DM_Q8__c] [decimal](18, 0) NULL,
	[D_Q1__c] [decimal](18, 0) NULL,
	[D_Q10__c] [decimal](18, 0) NULL,
	[D_Q11__c] [decimal](18, 0) NULL,
	[D_Q12__c] [decimal](18, 0) NULL,
	[D_Q13__c] [decimal](18, 0) NULL,
	[D_Q14__c] [decimal](18, 0) NULL,
	[D_Q15__c] [decimal](18, 0) NULL,
	[D_Q16__c] [decimal](18, 0) NULL,
	[D_Q17__c] [decimal](18, 0) NULL,
	[D_Q18__c] [decimal](18, 0) NULL,
	[D_Q19__c] [decimal](18, 0) NULL,
	[D_Q2__c] [decimal](18, 0) NULL,
	[D_Q20__c] [decimal](18, 0) NULL,
	[D_Q21__c] [decimal](18, 0) NULL,
	[D_Q22__c] [decimal](18, 0) NULL,
	[D_Q23__c] [decimal](18, 0) NULL,
	[D_Q24__c] [decimal](18, 0) NULL,
	[D_Q25__c] [decimal](18, 0) NULL,
	[D_Q26__c] [decimal](18, 0) NULL,
	[D_Q27__c] [decimal](18, 0) NULL,
	[D_Q28__c] [decimal](18, 0) NULL,
	[D_Q29__c] [decimal](18, 0) NULL,
	[D_Q3__c] [decimal](18, 0) NULL,
	[D_Q30__c] [decimal](18, 0) NULL,
	[D_Q31__c] [decimal](18, 0) NULL,
	[D_Q32__c] [decimal](18, 0) NULL,
	[D_Q33__c] [decimal](18, 0) NULL,
	[D_Q34__c] [decimal](18, 0) NULL,
	[D_Q35__c] [decimal](18, 0) NULL,
	[D_Q36__c] [decimal](18, 0) NULL,
	[D_Q37__c] [decimal](18, 0) NULL,
	[D_Q38__c] [decimal](18, 0) NULL,
	[D_Q39__c] [decimal](18, 0) NULL,
	[D_Q4__c] [decimal](18, 0) NULL,
	[D_Q40__c] [decimal](18, 0) NULL,
	[D_Q41__c] [decimal](18, 0) NULL,
	[D_Q42__c] [decimal](18, 0) NULL,
	[D_Q43__c] [decimal](18, 0) NULL,
	[D_Q44__c] [decimal](18, 0) NULL,
	[D_Q45__c] [decimal](18, 0) NULL,
	[D_Q46__c] [decimal](18, 0) NULL,
	[D_Q47__c] [decimal](18, 0) NULL,
	[D_Q48__c] [decimal](18, 0) NULL,
	[D_Q49__c] [decimal](18, 0) NULL,
	[D_Q5__c] [decimal](18, 0) NULL,
	[D_Q50__c] [decimal](18, 0) NULL,
	[D_Q51__c] [decimal](18, 0) NULL,
	[D_Q52__c] [decimal](18, 0) NULL,
	[D_Q53__c] [decimal](18, 0) NULL,
	[D_Q54__c] [decimal](18, 0) NULL,
	[D_Q55__c] [decimal](18, 0) NULL,
	[D_Q56__c] [decimal](18, 0) NULL,
	[D_Q57__c] [decimal](18, 0) NULL,
	[D_Q58__c] [decimal](18, 0) NULL,
	[D_Q59__c] [decimal](18, 0) NULL,
	[D_Q6__c] [decimal](18, 0) NULL,
	[D_Q60__c] [decimal](18, 0) NULL,
	[D_Q61__c] [decimal](18, 0) NULL,
	[D_Q62__c] [decimal](18, 0) NULL,
	[D_Q63__c] [decimal](18, 0) NULL,
	[D_Q64__c] [decimal](18, 0) NULL,
	[D_Q65__c] [decimal](18, 0) NULL,
	[D_Q66__c] [decimal](18, 0) NULL,
	[D_Q67__c] [decimal](18, 0) NULL,
	[D_Q68__c] [decimal](18, 0) NULL,
	[D_Q69__c] [decimal](18, 0) NULL,
	[D_Q7__c] [decimal](18, 0) NULL,
	[D_Q70__c] [decimal](18, 0) NULL,
	[D_Q71__c] [decimal](18, 0) NULL,
	[D_Q72__c] [decimal](18, 0) NULL,
	[D_Q8__c] [decimal](18, 0) NULL,
	[D_Q9__c] [decimal](18, 0) NULL,
	[TestRITScore__c] [varchar](255) NULL,
	[DRA_GLE_Student_Target_Score__c] [decimal](18, 1) NULL,
	[DRA_Grade_Level_Equivalent_Score__c] [decimal](18, 1) NULL,
	[Explore_Composite_Score__c] [decimal](18, 1) NULL,
	[TestPercentile__c] [varchar](255) NULL,
	[FSA_Algebra_Score__c] [decimal](18, 1) NULL,
	[FallToFallProjectedGrowth__c] [varchar](255) NULL,
	[FSA_ELA_Score__c] [decimal](18, 1) NULL,
	[FalltoFallObservedGrowth__c] [varchar](255) NULL,
	[FSA_Math_Score__c] [decimal](18, 1) NULL,
	[FallToFallConditionalGrowthIndex__c] [varchar](255) NULL,
	[Goal_directed_Behavior_Percentile__c] [decimal](18, 0) NULL,
	[Goal_directed_Behavior_Raw_Score__c] [decimal](18, 0) NULL,
	[Goal_directed_Behavior_T_Score__c] [decimal](18, 0) NULL,
	[FallToFallConditionalGrowthPercentile__c] [varchar](255) NULL,
	[Grade_at_Rating__c] [decimal](18, 0) NULL,
	[FallToWinterProjectedGrowth__c] [varchar](255) NULL,
	[IRLA_GLE_Student_Target_Score__c] [decimal](18, 3) NULL,
	[IRLA_Grade_Level_Equivalent_Score__c] [decimal](18, 3) NULL,
	[FalltoWinterObservedGrowth__c] [varchar](255) NULL,
	[Lexia_Step_Number__c] [decimal](18, 1) NULL,
	[FallToWinterConditionalGrowthIndex__c] [varchar](255) NULL,
	[Lexile_Student_Target_Score__c] [decimal](18, 1) NULL,
	[Optimistic_Thinking_Percentile__c] [decimal](18, 0) NULL,
	[Optimistic_Thinking_Raw_Score__c] [decimal](18, 0) NULL,
	[Optimistic_Thinking_T_Score__c] [decimal](18, 0) NULL,
	[FallToWinterConditionalGrowthPercentile__c] [varchar](255) NULL,
	[Personal_Responsibility_Percentile__c] [decimal](18, 0) NULL,
	[Personal_Responsibility_Raw_Score__c] [decimal](18, 0) NULL,
	[Personal_Responsibility_T_Score__c] [decimal](18, 0) NULL,
	[Quantile_Score__c] [decimal](18, 1) NULL,
	[Quantile_Student_Target_Score__c] [decimal](18, 1) NULL,
	[Rater_Name__c] [varchar](255) NULL,
	[Rater_Type__c] [varchar](255) NULL,
	[Rating_Date__c] [datetime] NULL,
	[Rating_ID__c] [decimal](18, 0) NULL,
	[Rating_Period__c] [decimal](18, 0) NULL,
	[Recorded_By__c] [varchar](255) NULL,
	[Relationship_Skills_Percentile__c] [decimal](18, 0) NULL,
	[Relationship_Skills_Raw_Score__c] [decimal](18, 0) NULL,
	[Relationship_Skills_T_Score__c] [decimal](18, 0) NULL,
	[Scantron_Scaled_Score__c] [decimal](18, 1) NULL,
	[FallToSpringProjectedGrowth__c] [varchar](255) NULL,
	[Scantron_Student_Target_Score__c] [decimal](18, 1) NULL,
	[SEL_Composite_Percentile__c] [decimal](18, 0) NULL,
	[SEL_Composite_Raw_Score__c] [decimal](18, 0) NULL,
	[SEL_Composite_T_Score__c] [decimal](18, 0) NULL,
	[Self_Awareness_Percentile__c] [decimal](18, 0) NULL,
	[Self_Awareness_Raw_Score__c] [decimal](18, 0) NULL,
	[Self_Awareness_T_Score__c] [decimal](18, 0) NULL,
	[Self_Management_Percentile__c] [decimal](18, 0) NULL,
	[Self_Management_Raw_Score__c] [decimal](18, 0) NULL,
	[Self_Management_T_Score__c] [decimal](18, 0) NULL,
	[Social_Awareness_Percentile__c] [decimal](18, 0) NULL,
	[Social_Awareness_Raw_Score__c] [decimal](18, 0) NULL,
	[Social_Awareness_T_Score__c] [decimal](18, 0) NULL,
	[FalltoSpringObservedGrowth__c] [varchar](255) NULL,
	[STAR_GLE_Student_Target_Score__c] [decimal](18, 3) NULL,
	[STAR_Grade_Level_Equivalent_Score__c] [decimal](18, 3) NULL,
	[Student_DESSA_ID__c] [decimal](18, 0) NULL,
	[FallToSpringConditionalGrowthIndex__c] [varchar](255) NULL,
	[FallToSpringConditionalGrowthPercentile__c] [varchar](255) NULL,
	[Student_Status__c] [varchar](255) NULL,
	[Student_Last_Name__c] [varchar](1300) NULL,
	[Student_Gender__c] [varchar](1300) NULL,
	[Student_First_Name__c] [varchar](1300) NULL,
	[Student_DOB__c] [datetime] NULL,
	[Social_Awareness_Description__c] [varchar](255) NULL,
	[Self_Management_Description__c] [varchar](255) NULL,
	[Self_Awareness_Description__c] [varchar](255) NULL,
	[SEL_Composite_Description__c] [varchar](255) NULL,
	[Relationship_Skills_Description__c] [varchar](255) NULL,
	[Record_Form__c] [varchar](255) NULL,
	[Personal_Responsibility_Description__c] [varchar](255) NULL,
	[Percentile__c] [varchar](255) NULL,
	[Optimistic_Thinking_Description__c] [varchar](255) NULL,
	[WinterToWinterProjectedGrowth__c] [varchar](255) NULL,
	[Jerry_Johns_BRI_GLE_Score__c] [varchar](255) NULL,
	[Greatness_Lesson__c] [varchar](255) NULL,
	[Goal_directed_Behavior_Description__c] [varchar](255) NULL,
	[District_Benchmark__c] [varchar](255) NULL,
	[Decision_Making_Description__c] [varchar](255) NULL,
	[DTM_MODULE_TEST_NUMBER_MODULE_UNIT__c] [varchar](255) NULL,
	[DTM_NOW_TEST_NUMBER_MODULE_UNIT__c] [varchar](255) NULL,
	[WinterToWinterObservedGrowth__c] [varchar](255) NULL,
	[WinterToWinterConditionalGrowthIndex__c] [varchar](255) NULL,
	[WinterToWinterConditionalGrowthPercentil__c] [varchar](255) NULL,
	[WinterToSpringProjectedGrowth__c] [varchar](255) NULL,
	[WinterToSpringObservedGrowth__c] [varchar](255) NULL,
	[WinterToSpringConditionalGrowthIndex__c] [varchar](255) NULL,
	[WinterToSpringConditionalGrowthPercentil__c] [varchar](255) NULL,
	[SpringToSpringProjectedGrowth__c] [varchar](255) NULL,
	[SpringToSpringObservedGrowth__c] [varchar](255) NULL,
	[SpringToSpringConditionalGrowthIndex__c] [varchar](255) NULL,
	[SpringToSpringConditionalGrowthPercentil__c] [varchar](255) NULL,
	[RITtoReadingScore__c] [varchar](255) NULL,
	[RIT_Score__c] [decimal](18, 0) NULL,
	[PreTest__c] [decimal](18, 1) NULL,
	[PostTest__c] [decimal](18, 1) NULL,
	[Performance_Level_1__c] [varchar](255) NULL,
	[Level_1_DNYME__c] [varchar](50) NULL,
	[Level_2_PME__c] [varchar](50) NULL,
	[Level_3_AE__c] [varchar](50) NULL,
	[Level_4_ME__c] [varchar](50) NULL,
	[Level_5_EE__c] [varchar](50) NULL,
	[Performance_Level_2__c] [varchar](255) NULL,
	[Performance_Level_3__c] [varchar](255) NULL,
	[Performance_Level_4__c] [varchar](255) NULL,
	[Test_Name__c] [varchar](255) NULL,
	[A_to_Z_Alpha_Scale_Student_Target_Score__c] [varchar](255) NULL,
	[Daze_Student_Target_Score__c] [decimal](18, 3) NULL,
	[Maze_Student_Target_Score__c] [decimal](18, 3) NULL,
	[Oral_Reading_Fluency_Student_Target_Scor__c] [decimal](18, 3) NULL,
	[Student_Reading_Level_Target_Score__c] [varchar](255) NULL
) ON [PRIMARY]

GO
