USE [SDW_Stage_Prod]
GO
/****** Object:  Table [dbo].[SJ_SPM_INDIVIDUAL]    Script Date: 12/1/2016 8:48:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SJ_SPM_INDIVIDUAL](
	[Student_Name] [varchar](80) NULL,
	[Student_First] [varchar](100) NOT NULL,
	[Student_Last] [varchar](100) NULL,
	[Student_IA_Att] [decimal](1, 0) NULL,
	[Student_IA_Beh] [decimal](1, 0) NULL,
	[Student_IA_ELA] [decimal](1, 0) NULL,
	[Student_IA_Math] [decimal](1, 0) NULL,
	[Student_TTL_IAs_Assigned] [decimal](18, 0) NULL,
	[Student_Gender] [varchar](255) NULL,
	[Student_Ethnicity] [varchar](255) NULL,
	[Student_ELL] [int] NOT NULL,
	[Student_Grade] [varchar](255) NULL,
	[Student_DOB] [datetime] NULL,
	[Student_District_ID] [varchar](100) NULL,
	[Student_School_Year] [varchar](1300) NULL,
	[CY_Student_ID] [varchar](100) NULL,
	[Student_School_Name] [varchar](1300) NULL,
	[Business_Unit] [varchar](255) NULL,
	[Student_SF_ID] [varchar](18) NOT NULL,
	[cysch_Accnt_SF_ID] [varchar](18) NULL,
	[cych_Accnt_SF_ID] [varchar](20) NULL,
	[legacy_key1__c] [varchar](100) NULL,
	[TEAM_NAME] [varchar](255) NULL,
	[TEAM_ID] [varchar](255) NULL,
	[afterschoolpart] [int] NULL,
	[student__c] [varchar](18) NULL,
	[Date_Administered__c] [datetime] NULL,
	[Assessment_Name] [varchar](1300) NULL,
	[Decision_Making_T_Score__c] [decimal](18, 0) NULL,
	[Goal_directed_Behavior_T_Score__c] [decimal](18, 0) NULL,
	[Optimistic_Thinking_T_Score__c] [decimal](18, 0) NULL,
	[Personal_Responsibility_T_Score__c] [decimal](18, 0) NULL,
	[Relationship_Skills_T_Score__c] [decimal](18, 0) NULL,
	[SEL_Composite_T_Score__c] [decimal](18, 0) NULL,
	[Self_Awareness_T_Score__c] [decimal](18, 0) NULL,
	[Self_Management_T_Score__c] [decimal](18, 0) NULL,
	[Social_Awareness_T_Score__c] [decimal](18, 0) NULL,
	[Month_Administered] [datetime] NULL,
	[social_awareness_Description__c] [varchar](255) NULL,
	[self_management_description__c] [varchar](255) NULL,
	[self_awareness_description__c] [varchar](255) NULL,
	[SEL_composite_description__c] [varchar](255) NULL,
	[relationship_skills_description__c] [varchar](255) NULL,
	[personal_responsibility_description__c] [varchar](255) NULL,
	[optimistic_thinking_description__c] [varchar](255) NULL,
	[goal_directed_behavior_description__c] [varchar](255) NULL,
	[decision_making_description__c] [varchar](255) NULL,
	[MOSTRECENT] [bigint] NULL,
	[session_dossage] [decimal](18, 0) NULL,
	[session_date] [datetime] NULL,
	[session_id] [varchar](18) NULL,
	[section_ia] [varchar](255) NULL,
	[program_description] [varchar](80) NULL,
	[session_skills] [varchar](1300) NULL,
	[intervention_corps_member] [varchar](80) NULL,
	[intervention_corps_member_id] [varchar](18) NULL,
	[Section_Primary_Staff] [varchar](80) NULL,
	[Section_Primary_Staff_ID] [varchar](80) NULL,
	[Assessment_Name_ATT] [varchar](1300) NULL,
	[Average_Daily_Attendance__c] [decimal](18, 3) NULL,
	[Assessment_Name_SUS] [varchar](1300) NULL,
	[Number_of_Suspensions__c] [decimal](18, 1) NULL,
	[Number_of_Detentions__c] [decimal](18, 1) NULL,
	[Number_of_Office_Referrals__c] [decimal](18, 1) NULL,
	[Quarter] [varchar](250) NULL,
	[SUSPENSION_IND] [int] NULL,
	[DETENTION_IND] [int] NULL,
	[OFFICEREFERRAL_IND] [int] NULL
) ON [PRIMARY]

GO
