USE [SDW_Stage_Prod]
GO
/****** Object:  Table [dbo].[Setup__c]    Script Date: 12/19/2016 4:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Setup__c](
	[Id] [varchar](18) NOT NULL,
	[OwnerId] [varchar](18) NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[Name] [varchar](80) NOT NULL,
	[RecordTypeId] [varchar](18) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedById] [varchar](18) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedById] [varchar](18) NOT NULL,
	[SystemModstamp] [datetime] NOT NULL,
	[Active__c] [int] NOT NULL,
	[Behavior_Referal_Details__c] [int] NOT NULL,
	[CEEB_Code__c] [varchar](6) NULL,
	[Calculate_Class_Rank__c] [int] NOT NULL,
	[Calculation_Type__c] [varchar](255) NULL,
	[Cascade_Daily_Attendance__c] [int] NOT NULL,
	[Chronological_Periods__c] [int] NOT NULL,
	[Configure_Course_Catalog__c] [varchar](1300) NULL,
	[Configure_Grade_Scale_Catalog__c] [varchar](1300) NULL,
	[Configure_School_Term__c] [varchar](1300) NULL,
	[Counselor__c] [varchar](255) NULL,
	[Course_Catalog__c] [varchar](18) NULL,
	[Data_Activated__c] [int] NOT NULL,
	[Days__c] [varchar](1300) NULL,
	[Display_Community_Service_Hours__c] [int] NOT NULL,
	[Display_Cumulative_Weighted_GPA__c] [int] NOT NULL,
	[Display_GPA_on_Report_Cards__c] [int] NOT NULL,
	[Display_Incomplete_Assignments__c] [int] NOT NULL,
	[Display_Legend_on_Report_Cards__c] [int] NOT NULL,
	[Display_Reading_Level_On_Report_Card__c] [int] NOT NULL,
	[Display_Weighted_GPA_on_Documents__c] [int] NOT NULL,
	[Evaluation_Documents__c] [varchar](1300) NULL,
	[External_Id__c] [varchar](255) NULL,
	[GPA_By_Reporting_Period_Rolling__c] [int] NOT NULL,
	[Grade_Scale_Catalog__c] [varchar](18) NULL,
	[Grade_Span__c] [varchar](1300) NULL,
	[Group_Based__c] [int] NOT NULL,
	[Include_Section_Grades__c] [int] NOT NULL,
	[Law_of_Decaying_Average_Weight__c] [decimal](6, 2) NULL,
	[New_School_Year__c] [int] NOT NULL,
	[Notes_on_Transcripts__c] [varchar](255) NULL,
	[Number_of_Scores__c] [decimal](5, 0) NULL,
	[On_Track_Threshold__c] [decimal](5, 1) NULL,
	[Passing_Grade_Threshold__c] [decimal](5, 1) NULL,
	[Points_Frequency__c] [varchar](255) NULL,
	[Points_Reset_Date__c] [datetime] NULL,
	[Points_Reset_Value__c] [decimal](6, 0) NULL,
	[Processed_EOY_Data__c] [int] NOT NULL,
	[Processed_Historical_Data__c] [int] NOT NULL,
	[Processed_Setup_Data__c] [int] NOT NULL,
	[Progress_Report_Standard_Display__c] [varchar](255) NULL,
	[Published__c] [int] NOT NULL,
	[Purged_EOY_Data__c] [int] NOT NULL,
	[Purged_Two_Years_Old_Data__c] [int] NOT NULL,
	[Read_Only_Attendance_Wizard_Records__c] [int] NOT NULL,
	[Registrar_Phone__c] [varchar](40) NULL,
	[Registrar__c] [varchar](255) NULL,
	[Report_Card_Standard_Display__c] [varchar](255) NULL,
	[Rolling_Standard_Grade__c] [int] NOT NULL,
	[Room_Dependent__c] [int] NOT NULL,
	[Schedule_End_Date__c] [datetime] NULL,
	[Schedule_Start_Date__c] [datetime] NULL,
	[School_Calendar__c] [varchar](1300) NULL,
	[School_Logo_for_Portal__c] [varchar](255) NULL,
	[School_Using_PGV__c] [int] NOT NULL,
	[School__c] [varchar](18) NULL,
	[School_picture__c] [varchar](1300) NULL,
	[Section_Wizard__c] [varchar](1300) NULL,
	[Show_Activities_on_Transcripts__c] [int] NOT NULL,
	[Show_Alerts_in_Portal__c] [int] NOT NULL,
	[Show_Assessments_on_Transcripts__c] [int] NOT NULL,
	[Show_Attendance_Sections_in_Gradebook__c] [int] NOT NULL,
	[Show_Attendance_in_Portal__c] [int] NOT NULL,
	[Show_Awards_in_Portal__c] [int] NOT NULL,
	[Show_Behavior_in_Portal__c] [int] NOT NULL,
	[Show_Calendar_in_Portal__c] [int] NOT NULL,
	[Show_Class_Rank__c] [int] NOT NULL,
	[Show_Class_Rank_on_Transcripts__c] [int] NOT NULL,
	[Show_Community_Service_In_Portal__c] [int] NOT NULL,
	[Show_Daily_Attendance_in_Portal__c] [int] NOT NULL,
	[Show_Gradebook_in_Portal__c] [int] NOT NULL,
	[Show_Homework_In_Portal__c] [int] NOT NULL,
	[Show_Homework_Percentage__c] [int] NOT NULL,
	[Show_Honors_on_Transcripts__c] [int] NOT NULL,
	[Show_Meals_in_Portal__c] [int] NOT NULL,
	[Show_Normalizations_on_Report_Cards__c] [int] NOT NULL,
	[Show_Notes_on_Transcripts__c] [int] NOT NULL,
	[Show_Points_Balance_in_Portal__c] [int] NOT NULL,
	[Show_Section_Comments__c] [int] NOT NULL,
	[Show_Sectional_Attendance_in_Portal__c] [int] NOT NULL,
	[Show_Sectional_Attendance_on_Report_Card__c] [int] NOT NULL,
	[Show_Semester_Grades_On_Report_Cards__c] [int] NOT NULL,
	[Show_Signature_on_Transcripts__c] [int] NOT NULL,
	[Show_Standard_Grades__c] [int] NOT NULL,
	[Show_Standard_Scale_on_Report_Cards__c] [int] NOT NULL,
	[Show_Standards_in_Portal__c] [int] NOT NULL,
	[Standard_Grade_Mastery_Threshold__c] [decimal](5, 1) NULL,
	[Standard_Legend_1_Spanish__c] [varchar](1300) NULL,
	[Standard_Legend_1__c] [varchar](1300) NULL,
	[Standard_Legend_2_Spanish__c] [varchar](1300) NULL,
	[Standard_Legend_2__c] [varchar](1300) NULL,
	[Standard_Legend_3_Spanish__c] [varchar](1300) NULL,
	[Standard_Legend_3__c] [varchar](1300) NULL,
	[Standard_Legend_4_Spanish__c] [varchar](1300) NULL,
	[Standard_Legend_4__c] [varchar](1300) NULL,
	[Standard_Legend_Description_1_Spanish__c] [varchar](1300) NULL,
	[Standard_Legend_Description_1__c] [varchar](1300) NULL,
	[Standard_Legend_Description_2_Spanish__c] [varchar](1300) NULL,
	[Standard_Legend_Description_2__c] [varchar](1300) NULL,
	[Standard_Legend_Description_3_Spanish__c] [varchar](1300) NULL,
	[Standard_Legend_Description_3__c] [varchar](1300) NULL,
	[Standard_Legend_Description_4_Spanish__c] [varchar](1300) NULL,
	[Standard_Legend_Description_4__c] [varchar](1300) NULL,
	[Standard_Legend_Text_Spanish__c] [varchar](1300) NULL,
	[Standard_Legend_Text__c] [varchar](1300) NULL,
	[Standards_Based_Grading__c] [int] NOT NULL,
	[Standards_ONLY_Gradebook__c] [int] NOT NULL,
	[Strand_Grade_Mastery_Percentage__c] [decimal](3, 0) NULL,
	[Students_Created_From_Previous_Year__c] [int] NOT NULL,
	[Students_Created__c] [int] NOT NULL,
	[Summarized_Data__c] [int] NOT NULL,
	[Term__c] [varchar](18) NULL,
	[Use_1st_Reporting_Period_Start_Date_RC__c] [int] NOT NULL,
	[Use_Sectional_Attendance__c] [int] NOT NULL,
	[Using_Assessments__c] [int] NOT NULL,
	[Using_Attendance__c] [int] NOT NULL,
	[Using_Behavior__c] [int] NOT NULL,
	[Using_Gradebook__c] [int] NOT NULL,
	[Using_Homework__c] [int] NOT NULL,
	[Using_Meals__c] [int] NOT NULL,
	[Using_Points__c] [int] NOT NULL,
	[Using_Portal__c] [int] NOT NULL,
	[Using_Student_Documents__c] [int] NOT NULL,
	[Using_Summer_School__c] [int] NOT NULL,
	[Year_End__c] [varchar](1300) NULL,
	[Year_Start__c] [varchar](1300) NULL,
	[Year__c] [varchar](18) NULL
) ON [PRIMARY]

GO
