USE [SDW_Stage_Prod]
GO
/****** Object:  Table [dbo].[HoldingObj__c]    Script Date: 12/19/2016 4:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoldingObj__c](
	[Id] [varchar](18) NOT NULL,
	[OwnerId] [varchar](18) NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[Name] [varchar](80) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedById] [varchar](18) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedById] [varchar](18) NOT NULL,
	[SystemModstamp] [datetime] NOT NULL,
	[Address__c] [varchar](100) NULL,
	[Admission_Date__c] [datetime] NULL,
	[Age__c] [varchar](5) NULL,
	[City__c] [varchar](50) NULL,
	[Class_Id__c] [varchar](200) NULL,
	[Class_Name__c] [varchar](80) NULL,
	[Course_Name__c] [varchar](80) NULL,
	[DOB__c] [datetime] NULL,
	[Daily_Attendance__c] [int] NOT NULL,
	[Debug_Message__c] [varchar](200) NULL,
	[Disability_Flag__c] [varchar](1) NULL,
	[ELL__c] [varchar](30) NULL,
	[Email__c] [varchar](80) NULL,
	[Error_Message__c] [varchar](255) NULL,
	[Ethnic_Cde__c] [varchar](60) NULL,
	[External_Id__c] [varchar](255) NULL,
	[First_Name__c] [varchar](24) NULL,
	[Grade_Level__c] [varchar](100) NULL,
	[Has_Homework__c] [int] NOT NULL,
	[Last_Name__c] [varchar](30) NULL,
	[Lep_Flag__c] [varchar](1) NULL,
	[Network_Code__c] [varchar](6) NULL,
	[Network__c] [varchar](32) NULL,
	[No_Meeting__c] [int] NOT NULL,
	[Password__c] [varchar](18) NULL,
	[Period__c] [varchar](10) NULL,
	[Phone__c] [varchar](15) NULL,
	[Propagated__c] [int] NOT NULL,
	[Record_Attendance__c] [int] NOT NULL,
	[Record_Type_Name__c] [varchar](255) NULL,
	[Reference_Id__c] [varchar](255) NULL,
	[Reporting_Period_Id__c] [varchar](100) NULL,
	[Room__c] [varchar](100) NULL,
	[School_Dbn__c] [varchar](100) NULL,
	[School_Name__c] [varchar](200) NULL,
	[School_Propagated__c] [varchar](1) NULL,
	[School_Year__c] [varchar](20) NULL,
	[Section_Propagated__c] [varchar](1) NULL,
	[Sex__c] [varchar](10) NULL,
	[Source_System__c] [varchar](12) NULL,
	[Staff_Code__c] [varchar](255) NULL,
	[Staff_ID__c] [varchar](24) NULL,
	[State__c] [varchar](25) NULL,
	[Student_Id__c] [varchar](50) NULL,
	[Student_Propagated__c] [varchar](1) NULL,
	[Subject__c] [varchar](1) NULL,
	[Type__c] [varchar](100) NULL,
	[Username__c] [varchar](30) NULL,
	[Zip__c] [varchar](10) NULL,
	[isActive__c] [int] NOT NULL
) ON [PRIMARY]

GO
