USE [SDW_Stage_Prod]
GO
/****** Object:  Table [dbo].[Conf_Contacts_CSD]    Script Date: 12/19/2016 4:21:51 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Conf_Contacts_CSD](
	[CY_MSTR_STAFF STAFF_ID] [int] NULL,
	[ CY_MSTR_STAFF STAFF_VERSION_NUMBER] [varchar](4) NULL,
	[ CY_MSTR_STAFF CURR_SITE_ID] [smallint] NULL,
	[ CY_MSTR_STAFF CURR_SITE_NAME] [varchar](10) NULL,
	[ CY_MSTR_STAFF SRC_STAFF_ID] [int] NULL,
	[ CY_MSTR_STAFF SRC_SITE_ID] [varchar](6) NULL,
	[ CY_MSTR_STAFF STAFF_EMAIL] [varchar](25) NULL,
	[ CY_MSTR_STAFF ACTIVE_DATE] [datetime] NULL,
	[ CY_MSTR_STAFF INACTIVE_DATE] [varchar](4) NULL,
	[ CY_MSTR_STAFF FIRST_NAME] [varchar](9) NULL,
	[ CY_MSTR_STAFF PREFERRED_NAME] [varchar](9) NULL,
	[ CY_MSTR_STAFF LAST_NAME] [varchar](18) NULL,
	[ CY_MSTR_STAFF MAILING_STREET] [varchar](22) NULL,
	[ CY_MSTR_STAFF MAILING_CITY] [varchar](13) NULL,
	[ CY_MSTR_STAFF MAILING_STATE] [varchar](13) NULL,
	[ CY_MSTR_STAFF SUPERVISOR_NAME] [varchar](20) NULL,
	[ CY_MSTR_STAFF SUPERVISOR_LGCY_KEY] [int] NULL,
	[ CY_MSTR_STAFF MAIL_POSTAL_CODE] [int] NULL,
	[ CY_MSTR_STAFF WORK_PHONE_NBR] [varchar](17) NULL,
	[ CY_MSTR_STAFF MOBILE_PHONE_NBR] [varchar](17) NULL,
	[ CY_MSTR_STAFF DEPARTMENT_NAME] [varchar](35) NULL,
	[ CY_MSTR_STAFF BUSINESS_TITLE] [varchar](34) NULL,
	[ CY_MSTR_STAFF STAFF_STATUS] [varchar](19) NULL,
	[ CY_MSTR_STAFF STAFF_OR_CORPS] [varchar](80) NULL,
	[ CY_MSTR_STAFF STAFF_TYPE] [varchar](80) NULL,
	[ CY_MSTR_STAFF LOAD_DATE] [datetime] NULL,
	[ CY_MSTR_STAFF REC_BEGIN_DATE] [datetime] NULL,
	[ CY_MSTR_STAFF REC_END_DATE] [varchar](4) NULL,
	[ CY_MSTR_STAFF RECORD_CREATE_DATE] [varchar](4) NULL,
	[ CY_MSTR_STAFF RECORD_CREATED_BY_USR_ID] [varchar](4) NULL,
	[ CY_MSTR_STAFF RECORD_CREATED_BY_USR_NAME] [varchar](4) NULL,
	[ CY_MSTR_STAFF RECORD_SOURCE] [varchar](4) NULL,
	[ CY_MSTR_STAFF STAFF_LGCY_KEY] [int] NULL,
	[ CY_MSTR_STAFF ACTIVE_DIR_ID] [varchar](20) NULL,
	[ CY_MSTR_STAFF Preferred_Last_Name ] [varchar](23) NULL
) ON [PRIMARY]

GO
