USE [SDW_Stage_Prod]
GO
/****** Object:  View [dbo].[vw_Grades_final]    Script Date: 12/19/2016 4:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO





CREATE VIEW [dbo].[vw_Grades_final]
AS
SELECT  [Student_Name]
      ,[Student_First]
      ,[Student_Last]
      ,[Student_IA_Att]
      ,[Student_IA_Beh]
      ,[Student_IA_ELA]
      ,[Student_IA_Math]
      ,[Student_TTL_IAs_Assigned]
      ,[Student_Gender]
      ,[Student_Ethnicity]
      ,[Student_ELL]
      ,[Student_Grade]
      ,[Student_DOB]
      ,[Student_District_ID]
      ,[Student_School_Year]
      ,[CY_Student_ID]
      ,[Student_School_Name]
      ,[Student_SF_ID]
      ,[Section_Name]
      ,[Core_Class__c]
      ,[Assignment_Due_Date]
      ,[Assignment_Marking_Period]
      ,[Assignment_Type]
      ,[Assignment_Name]
      ,[Assignment_Subject]
      ,[Create_by]
      ,[Entry_date]
      ,[Grade_Name]
      ,[Assignment_Entered_Grade]
      ,[Assignment_Grade_Number]
      ,[Assignment_Weighted_Grade_Vale]
      ,[Business_Unit]
      ,[CorpsName1]
      ,[CorpsEmail1]
      ,[TeamName]
      ,[TeamDescription]
      ,[cysch_Accnt_SF_ID]
      ,[cych_Accnt_SF_ID]
      ,[Standard_Name]
      ,[Grade_For_Standard]
      ,[Identifier__c]
      ,[Long_Text__c]
      ,[Grades_IA]
      ,[Session_Skills]
      ,[Program_Description]
  FROM [SDW_Stage_Prod].[dbo].[vw_Grades_final_WO_Orlando]
  union
  SELECT  [Student_Name]
      ,[Student_First]
      ,[Student_Last]
      ,[Student_IA_Att]
      ,[Student_IA_Beh]
      ,[Student_IA_ELA]
      ,[Student_IA_Math]
      ,[Student_TTL_IAs_Assigned]
      ,[Student_Gender]
      ,[Student_Ethnicity]
      ,[Student_ELL]
      ,[Student_Grade]
      ,[Student_DOB]
      ,[Student_District_ID]
      ,[Student_School_Year]
      ,[CY_Student_ID]
      ,[Student_School_Name]
      ,[Student_SF_ID]
      ,[Section_Name]
      ,[Core_Class__c]
      ,[Assignment_Due_Date]
      ,[Assignment_Marking_Period]
      ,[Assignment_Type]
      ,[Assignment_Name]
      ,[Assignment_Subject]
      ,[Create_by]
      ,[Entry_date]
      ,[Grade_Name]
      ,[Assignment_Entered_Grade]
      ,[Assignment_Grade_Number]
      ,[Assignment_Weighted_Grade_Vale]
      ,[Business_Unit]
      ,[CorpsName1]
      ,[CorpsEmail1]
      ,[TeamName]
      ,[TeamDescription]
      ,[cysch_Accnt_SF_ID]
      ,[cych_Accnt_SF_ID]
      ,[Standard_Name]
      ,[Grade_For_Standard]
      ,[Identifier__c]
      ,[Long_Text__c]
      ,[Grades_IA]
      ,[Session_Skills]
      ,[Program_Description]
  FROM [SDW_Stage_Prod].[dbo].[vw_Grades_final_Orlando_Only]
GO
