USE [SDW_Stage_Prod]
GO
/****** Object:  View [dbo].[vw_SCH_Attendance_Suspensions]    Script Date: 12/19/2016 4:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO











CREATE VIEW [dbo].[vw_SCH_Attendance_Suspensions] as

SELECT
	CYCH_ACCNT_SF_ID,
	QUARTER,
	  AVG(cast(NULLIF([Average_Daily_Attendance],'') as numeric(4,3))) AS AVG_AVERAGE_DAILY_ATTENDANCE,
	  (SUM(CASE WHEN SUSPENSION_IND=1 THEN 1 when suspension_ind=0 then 0 else null END)*1.0)/NULLIF(SUM(CASE WHEN Number_of_Suspensions IS NOT NULL THEN 1 END), 0) AS PERC_SUSPENSION,
	  (SUM(CASE WHEN DETENTION_IND=1 THEN 1 when detention_ind=0 then 0 else null END)*1.0)/NULLIF(SUM(CASE WHEN Number_of_Detentions IS NOT NULL THEN 1 END), 0) AS PERC_DETENTION,
	  (SUM(CASE WHEN OFFICEREFERRAL_IND=1 THEN 1 when officereferral_ind=0 then 0 else null END)*1.0)/NULLIF(SUM(CASE WHEN Number_of_Office_Referrals IS NOT NULL THEN 1 END), 0) AS PERC_OFFICEREFERRAL
FROM
(SELECT DISTINCT 
	   [student_sf_id]
      ,[cych_Accnt_SF_ID]
      ,[Assessment_Name_ATT]
      ,[Average_Daily_Attendance]
      ,[Assessment_Name_SUS]
      ,[Quarter]
      ,[Date_Administered]
      ,[cysch_accnt_sf_id]
	  ,[SUSPENSION_IND]
      ,[DETENTION_IND]
      ,[OFFICEREFERRAL_IND],
	  Number_of_Office_Referrals,
	  Number_of_Detentions,
	  Number_of_Suspensions
  FROM [SDW_Stage_Prod].[dbo].[ATTENDANCE_AND_SUSPENSIONS]) a
  GROUP BY CYCH_ACCNT_SF_ID, QUARTER








GO
