USE [SDW_Stage_Prod]
GO
/****** Object:  View [dbo].[vw_DESSA_SCHOOL_FULL_MOSTRECENT]    Script Date: 12/19/2016 4:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO









CREATE VIEW [dbo].[vw_DESSA_SCHOOL_FULL_MOSTRECENT]
AS
SELECT
	dbo.vw_DESSA_SCHOOL_COMP_MOSTRECENT.cych_Accnt_SF_ID, 
	dbo.vw_DESSA_SCHOOL_COMP_MOSTRECENT.STUDENT_SCHOOL_NAME, 
	dbo.vw_DESSA_SCHOOL_COMP_MOSTRECENT.COMP_PLUS4, 
	dbo.vw_DESSA_SCHOOL_COMP_MOSTRECENT.COMP_PLUS1TO3, 
    dbo.vw_DESSA_SCHOOL_COMP_MOSTRECENT.COMP_NOCHANGE, 
	dbo.vw_DESSA_SCHOOL_COMP_MOSTRECENT.COMP_MINUS1TO3, 
	dbo.vw_DESSA_SCHOOL_COMP_MOSTRECENT.COMP_MINUS4,
	dbo.vw_DESSA_SCHOOL_DM_MOSTRECENT.DM_PLUS4, 
    dbo.vw_DESSA_SCHOOL_DM_MOSTRECENT.DM_PLUS1TO3, 
	dbo.vw_DESSA_SCHOOL_DM_MOSTRECENT.DM_NOCHANGE, 
	dbo.vw_DESSA_SCHOOL_DM_MOSTRECENT.DM_MINUS1TO3, 
    dbo.vw_DESSA_SCHOOL_DM_MOSTRECENT.DM_MINUS4,
    dbo.vw_DESSA_SCHOOL_GDB_MOSTRECENT.GDB_PLUS4, 
	dbo.vw_DESSA_SCHOOL_GDB_MOSTRECENT.GDB_PLUS1TO3, 
	dbo.vw_DESSA_SCHOOL_GDB_MOSTRECENT.GDB_NOCHANGE, 
    dbo.vw_DESSA_SCHOOL_GDB_MOSTRECENT.GDB_MINUS1TO3, 
	dbo.vw_DESSA_SCHOOL_GDB_MOSTRECENT.GDB_MINUS4, 
	dbo.vw_DESSA_SCHOOL_OT_MOSTRECENT.OT_PLUS4, 
    dbo.vw_DESSA_SCHOOL_OT_MOSTRECENT.OT_PLUS1TO3, 
	dbo.vw_DESSA_SCHOOL_OT_MOSTRECENT.OT_NOCHANGE, 
	dbo.vw_DESSA_SCHOOL_OT_MOSTRECENT.OT_MINUS1TO3, 
    dbo.vw_DESSA_SCHOOL_OT_MOSTRECENT.OT_MINUS4,
	dbo.vw_DESSA_SCHOOL_PR_MOSTRECENT.PR_PLUS4, 
    dbo.vw_DESSA_SCHOOL_PR_MOSTRECENT.PR_PLUS1TO3, 
	dbo.vw_DESSA_SCHOOL_PR_MOSTRECENT.PR_NOCHANGE, 
	dbo.vw_DESSA_SCHOOL_PR_MOSTRECENT.PR_MINUS1TO3, 
    dbo.vw_DESSA_SCHOOL_PR_MOSTRECENT.PR_MINUS4,
	dbo.vw_DESSA_SCHOOL_RS_MOSTRECENT.RS_PLUS4, 
    dbo.vw_DESSA_SCHOOL_RS_MOSTRECENT.RS_PLUS1TO3, 
	dbo.vw_DESSA_SCHOOL_RS_MOSTRECENT.RS_NOCHANGE, 
	dbo.vw_DESSA_SCHOOL_RS_MOSTRECENT.RS_MINUS1TO3, 
    dbo.vw_DESSA_SCHOOL_RS_MOSTRECENT.RS_MINUS4,
	dbo.vw_DESSA_SCHOOL_SA_MOSTRECENT.SA_PLUS4, 
    dbo.vw_DESSA_SCHOOL_SA_MOSTRECENT.SA_PLUS1TO3, 
	dbo.vw_DESSA_SCHOOL_SA_MOSTRECENT.SA_NOCHANGE, 
	dbo.vw_DESSA_SCHOOL_SA_MOSTRECENT.SA_MINUS1TO3, 
    dbo.vw_DESSA_SCHOOL_SA_MOSTRECENT.SA_MINUS4,
	dbo.vw_DESSA_SCHOOL_SM_MOSTRECENT.SM_PLUS4, 
    dbo.vw_DESSA_SCHOOL_SM_MOSTRECENT.SM_PLUS1TO3, 
	dbo.vw_DESSA_SCHOOL_SM_MOSTRECENT.SM_NOCHANGE, 
	dbo.vw_DESSA_SCHOOL_SM_MOSTRECENT.SM_MINUS1TO3, 
    dbo.vw_DESSA_SCHOOL_SM_MOSTRECENT.SM_MINUS4,
	dbo.vw_DESSA_SCHOOL_SoA_MOSTRECENT.SoA_PLUS4, 
    dbo.vw_DESSA_SCHOOL_SoA_MOSTRECENT.SoA_PLUS1TO3, 
	dbo.vw_DESSA_SCHOOL_SoA_MOSTRECENT.SoA_NOCHANGE, 
	dbo.vw_DESSA_SCHOOL_SoA_MOSTRECENT.SoA_MINUS1TO3, 
    dbo.vw_DESSA_SCHOOL_SoA_MOSTRECENT.SoA_MINUS4
FROM vw_DESSA_School_COMP_MOSTRECENT
JOIN vw_DESSA_School_OT_MOSTRECENT
		ON vw_DESSA_SCHOOL_OT_MOSTRECENT.cych_Accnt_SF_ID = vw_DESSA_School_COMP_MOSTRECENT.cych_Accnt_SF_ID
		AND vw_DESSA_SCHOOL_OT_MOSTRECENT.Student_School_Name = vw_DESSA_School_COMP_MOSTRECENT.Student_School_Name
JOIN vw_DESSA_SCHOOL_DM_MOSTRECENT
		ON vw_DESSA_SCHOOL_DM_MOSTRECENT.cych_Accnt_SF_ID = vw_DESSA_School_COMP_MOSTRECENT.cych_Accnt_SF_ID
		AND vw_DESSA_SCHOOL_DM_MOSTRECENT.Student_School_Name = vw_DESSA_School_COMP_MOSTRECENT.Student_School_Name
JOIN vw_DESSA_SCHOOL_GDB_MOSTRECENT
		ON vw_DESSA_SCHOOL_GDB_MOSTRECENT.cych_Accnt_SF_ID = vw_DESSA_School_COMP_MOSTRECENT.cych_Accnt_SF_ID
		AND vw_DESSA_SCHOOL_GDB_MOSTRECENT.Student_School_Name = vw_DESSA_School_COMP_MOSTRECENT.Student_School_Name
JOIN vw_DESSA_SCHOOL_PR_MOSTRECENT
		ON vw_DESSA_SCHOOL_PR_MOSTRECENT.cych_Accnt_SF_ID = vw_DESSA_School_COMP_MOSTRECENT.cych_Accnt_SF_ID
		AND vw_DESSA_SCHOOL_PR_MOSTRECENT.Student_School_Name = vw_DESSA_School_COMP_MOSTRECENT.Student_School_Name
JOIN vw_DESSA_SCHOOL_RS_MOSTRECENT
		ON vw_DESSA_SCHOOL_RS_MOSTRECENT.cych_Accnt_SF_ID = vw_DESSA_School_COMP_MOSTRECENT.cych_Accnt_SF_ID
		AND vw_DESSA_SCHOOL_RS_MOSTRECENT.Student_School_Name = vw_DESSA_School_COMP_MOSTRECENT.Student_School_Name
JOIN vw_DESSA_SCHOOL_SA_MOSTRECENT
		ON vw_DESSA_SCHOOL_SA_MOSTRECENT.cych_Accnt_SF_ID = vw_DESSA_School_COMP_MOSTRECENT.cych_Accnt_SF_ID
		AND vw_DESSA_SCHOOL_SA_MOSTRECENT.Student_School_Name = vw_DESSA_School_COMP_MOSTRECENT.Student_School_Name
JOIN vw_DESSA_SCHOOL_SM_MOSTRECENT
		ON vw_DESSA_SCHOOL_SM_MOSTRECENT.cych_Accnt_SF_ID = vw_DESSA_School_COMP_MOSTRECENT.cych_Accnt_SF_ID
		AND vw_DESSA_SCHOOL_SM_MOSTRECENT.Student_School_Name = vw_DESSA_School_COMP_MOSTRECENT.Student_School_Name
JOIN vw_DESSA_SCHOOL_SoA_MOSTRECENT
		ON vw_DESSA_SCHOOL_SoA_MOSTRECENT.cych_Accnt_SF_ID = vw_DESSA_School_COMP_MOSTRECENT.cych_Accnt_SF_ID
		AND vw_DESSA_SCHOOL_SoA_MOSTRECENT.Student_School_Name = vw_DESSA_School_COMP_MOSTRECENT.Student_School_Name





GO
