USE [SDW_Stage_Prod]
GO
/****** Object:  Table [dbo].[Section__c]    Script Date: 12/19/2016 4:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Section__c](
	[Id] [varchar](18) NULL,
	[OwnerId] [varchar](18) NULL,
	[IsDeleted] [int] NULL,
	[Name] [varchar](80) NULL,
	[RecordTypeId] [varchar](18) NULL,
	[CreatedDate] [datetime] NULL,
	[CreatedById] [varchar](18) NULL,
	[LastModifiedDate] [datetime] NULL,
	[LastModifiedById] [varchar](18) NULL,
	[SystemModstamp] [datetime] NULL,
	[LastActivityDate] [datetime] NULL,
	[Active__c] [int] NULL,
	[Advisory__c] [int] NULL,
	[All_Grades__c] [varchar](255) NULL,
	[Archived__c] [int] NULL,
	[Available_Credit__c] [varchar](255) NULL,
	[Class_Organization__c] [varchar](255) NULL,
	[Class_Pace__c] [varchar](255) NULL,
	[Color__c] [varchar](100) NULL,
	[Course__c] [varchar](18) NULL,
	[Daily_Attendance__c] [int] NULL,
	[Dependent_Section__c] [varchar](18) NULL,
	[Description__c] [varchar](255) NULL,
	[Exclude_From_Attendance__c] [int] NULL,
	[Exclude_From_GPA__c] [varchar](255) NULL,
	[Exclude_From_Storing_Final_Grades__c] [int] NULL,
	[External_Id__c] [varchar](255) NULL,
	[Grade_Level__c] [varchar](255) NULL,
	[Grade_Scale__c] [varchar](255) NULL,
	[Has_Homework__c] [int] NULL,
	[Holding_Source__c] [varchar](18) NULL,
	[Homeroom__c] [int] NULL,
	[Homework_Based__c] [int] NULL,
	[Is_Section__c] [int] NULL,
	[Legacy_ID__c] [varchar](20) NULL,
	[MEP_Session_Type__c] [varchar](255) NULL,
	[Maximum_of_Seats__c] [decimal](18, 0) NULL,
	[Medium_of_Instruction__c] [varchar](255) NULL,
	[Name_Spanish__c] [varchar](255) NULL,
	[No_Meeting__c] [int] NULL,
	[Number_of_Periods__c] [varchar](255) NULL,
	[Number_of_Reporting_Periods__c] [varchar](255) NULL,
	[Number_of_Staff__c] [varchar](255) NULL,
	[Period__c] [varchar](100) NULL,
	[Record_Attendance__c] [int] NULL,
	[Reference_Id__c] [varchar](200) NULL,
	[Reporting_Period_Name__c] [varchar](100) NULL,
	[Reporting_Period__c] [varchar](18) NULL,
	[Room__c] [varchar](18) NULL,
	[Schedule_Group__c] [varchar](18) NULL,
	[Scheduler_Reference_Id__c] [varchar](255) NULL,
	[School__c] [varchar](18) NULL,
	[Section_Number__c] [varchar](10) NULL,
	[Section__c] [varchar](18) NULL,
	[Show_in_portal__c] [int] NULL,
	[Staff__c] [varchar](18) NULL,
	[Subject__c] [varchar](255) NULL,
	[Teachers__c] [varchar](255) NULL,
	[Text_Color__c] [varchar](100) NULL,
	[Time__c] [varchar](18) NULL,
	[Type__c] [varchar](255) NULL,
	[Year_Name__c] [varchar](100) NULL,
	[isGroup__c] [int] NULL,
	[of_Consecutive_Days_without_Grades__c] [decimal](18, 0) NULL,
	[of_Homework_Assignments__c] [decimal](18, 0) NULL,
	[of_Homework_Completed__c] [decimal](18, 0) NULL,
	[of_Late_Homework__c] [decimal](18, 0) NULL,
	[of_Missing_Homework__c] [decimal](18, 0) NULL,
	[of_Time_by_Medium_of_Instruction__c] [decimal](18, 0) NULL,
	[of_Students__c] [decimal](18, 0) NULL,
	[Account_Program__c] [varchar](18) NULL,
	[Additional_Information__c] [varchar](255) NULL,
	[Auto_Name__c] [varchar](255) NULL,
	[End_Date__c] [datetime] NULL,
	[In_After_School__c] [varchar](255) NULL,
	[Indicator_Area__c] [varchar](255) NULL,
	[Intervention_Primary_Staff__c] [varchar](18) NULL,
	[Notes__c] [varchar](255) NULL,
	[Program__c] [varchar](18) NULL,
	[Recommended_Time_per_Session__c] [decimal](18, 0) NULL,
	[Recommended_Weekly_Frequency__c] [varchar](255) NULL,
	[Average_Section_Grade__c] [decimal](18, 0) NULL,
	[Percent_Present__c] [decimal](18, 2) NULL,
	[Present_Attendance__c] [decimal](18, 0) NULL,
	[Total_Attendance__c] [decimal](18, 0) NULL,
	[of_Students_Failing__c] [decimal](5, 2) NULL,
	[Total_Grade_Value__c] [decimal](5, 2) NULL,
	[Failing__c] [decimal](4, 0) NULL,
	[Term_Identifier__c] [varchar](20) NULL,
	[Total_Average_Grade__c] [decimal](18, 0) NULL,
	[Total_Section_Grades__c] [decimal](18, 0) NULL,
	[Section_Frequency__c] [varchar](255) NULL,
	[Section_Nickname__c] [varchar](100) NULL,
	[Start_Date__c] [datetime] NULL,
	[System_Auto_Number__c] [varchar](30) NULL,
	[Target_Dosage_Org_Goal__c] [decimal](18, 0) NULL,
	[Target_Dosage_Section_Goal__c] [decimal](18, 0) NULL,
	[Location__c] [varchar](255) NULL,
	[Completed__c] [int] NULL,
	[Core_Class__c] [int] NULL
) ON [PRIMARY]

GO
