USE [SDW_Stage_Prod]
GO
/****** Object:  Table [dbo].[Profile]    Script Date: 12/19/2016 4:21:52 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Profile](
	[Id] [varchar](18) NOT NULL,
	[Name] [varchar](255) NOT NULL,
	[PermissionsEmailSingle] [int] NOT NULL,
	[PermissionsEmailMass] [int] NOT NULL,
	[PermissionsEditTask] [int] NOT NULL,
	[PermissionsEditEvent] [int] NOT NULL,
	[PermissionsExportReport] [int] NOT NULL,
	[PermissionsImportPersonal] [int] NOT NULL,
	[PermissionsDataExport] [int] NOT NULL,
	[PermissionsManageUsers] [int] NOT NULL,
	[PermissionsEditPublicTemplates] [int] NOT NULL,
	[PermissionsModifyAllData] [int] NOT NULL,
	[PermissionsManageCases] [int] NOT NULL,
	[PermissionsMassInlineEdit] [int] NOT NULL,
	[PermissionsManageSolutions] [int] NOT NULL,
	[PermissionsCustomizeApplication] [int] NOT NULL,
	[PermissionsEditReadonlyFields] [int] NOT NULL,
	[PermissionsRunReports] [int] NOT NULL,
	[PermissionsViewSetup] [int] NOT NULL,
	[PermissionsTransferAnyEntity] [int] NOT NULL,
	[PermissionsNewReportBuilder] [int] NOT NULL,
	[PermissionsManageCssUsers] [int] NOT NULL,
	[PermissionsActivateContract] [int] NOT NULL,
	[PermissionsActivateOrder] [int] NOT NULL,
	[PermissionsImportLeads] [int] NOT NULL,
	[PermissionsManageLeads] [int] NOT NULL,
	[PermissionsTransferAnyLead] [int] NOT NULL,
	[PermissionsViewAllData] [int] NOT NULL,
	[PermissionsEditPublicDocuments] [int] NOT NULL,
	[PermissionsViewEncryptedData] [int] NOT NULL,
	[PermissionsEditBrandTemplates] [int] NOT NULL,
	[PermissionsEditHtmlTemplates] [int] NOT NULL,
	[PermissionsDeleteActivatedContract] [int] NOT NULL,
	[PermissionsSendSitRequests] [int] NOT NULL,
	[PermissionsOverrideForecasts] [int] NOT NULL,
	[PermissionsViewAllForecasts] [int] NOT NULL,
	[PermissionsApiUserOnly] [int] NOT NULL,
	[PermissionsManageRemoteAccess] [int] NOT NULL,
	[PermissionsCanUseNewDashboardBuilder] [int] NOT NULL,
	[PermissionsManageCategories] [int] NOT NULL,
	[PermissionsConvertLeads] [int] NOT NULL,
	[PermissionsPasswordNeverExpires] [int] NOT NULL,
	[PermissionsUseTeamReassignWizards] [int] NOT NULL,
	[PermissionsEditActivatedOrders] [int] NOT NULL,
	[PermissionsInstallMultiforce] [int] NOT NULL,
	[PermissionsPublishMultiforce] [int] NOT NULL,
	[PermissionsManagePartners] [int] NOT NULL,
	[PermissionsEditOppLineItemUnitPrice] [int] NOT NULL,
	[PermissionsCreateMultiforce] [int] NOT NULL,
	[PermissionsBulkApiHardDelete] [int] NOT NULL,
	[PermissionsInboundMigrationToolsUser] [int] NOT NULL,
	[PermissionsSolutionImport] [int] NOT NULL,
	[PermissionsManageCallCenters] [int] NOT NULL,
	[PermissionsPortalSuperUser] [int] NOT NULL,
	[PermissionsOutboundMigrationToolsUser] [int] NOT NULL,
	[PermissionsDelegatedPortalUserAdmin] [int] NOT NULL,
	[PermissionsViewContent] [int] NOT NULL,
	[PermissionsManageEmailClientConfig] [int] NOT NULL,
	[PermissionsEnableNotifications] [int] NOT NULL,
	[PermissionsIsSsoEnabled] [int] NOT NULL,
	[PermissionsManageDataIntegrations] [int] NOT NULL,
	[PermissionsDistributeFromPersWksp] [int] NOT NULL,
	[PermissionsViewDataCategories] [int] NOT NULL,
	[PermissionsManageDataCategories] [int] NOT NULL,
	[PermissionsAuthorApex] [int] NOT NULL,
	[PermissionsManageMobile] [int] NOT NULL,
	[PermissionsApiEnabled] [int] NOT NULL,
	[PermissionsManageCustomReportTypes] [int] NOT NULL,
	[PermissionsEditCaseComments] [int] NOT NULL,
	[PermissionsTransferAnyCase] [int] NOT NULL,
	[PermissionsContentAdministrator] [int] NOT NULL,
	[PermissionsCreateWorkspaces] [int] NOT NULL,
	[PermissionsManageContentPermissions] [int] NOT NULL,
	[PermissionsManageContentProperties] [int] NOT NULL,
	[PermissionsManageContentTypes] [int] NOT NULL,
	[PermissionsScheduleJob] [int] NOT NULL,
	[PermissionsManageAnalyticSnapshots] [int] NOT NULL,
	[PermissionsScheduleReports] [int] NOT NULL,
	[PermissionsManageBusinessHourHolidays] [int] NOT NULL,
	[PermissionsManageDynamicDashboards] [int] NOT NULL,
	[PermissionsCustomSidebarOnAllPages] [int] NOT NULL,
	[PermissionsManageInteraction] [int] NOT NULL,
	[PermissionsViewMyTeamsDashboards] [int] NOT NULL,
	[PermissionsResetPasswords] [int] NOT NULL,
	[PermissionsFlowUFLRequired] [int] NOT NULL,
	[PermissionsEmailTemplateManagement] [int] NOT NULL,
	[PermissionsEmailAdministration] [int] NOT NULL,
	[PermissionsManageNetworks] [int] NOT NULL,
	[PermissionsManageAuthProviders] [int] NOT NULL,
	[PermissionsModerateNetworkFiles] [int] NOT NULL,
	[UserLicenseId] [varchar](18) NOT NULL,
	[UserType] [varchar](40) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedById] [varchar](18) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedById] [varchar](18) NOT NULL,
	[SystemModstamp] [datetime] NOT NULL,
	[IsSsoEnabled] [int] NOT NULL,
	[Description] [varchar](255) NULL
) ON [PRIMARY]

GO
