USE [SDW_Stage_Prod]
GO
/****** Object:  Table [dbo].[Course__c]    Script Date: 12/1/2016 8:48:00 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Course__c](
	[Id] [varchar](18) NOT NULL,
	[OwnerId] [varchar](18) NOT NULL,
	[IsDeleted] [int] NOT NULL,
	[Name] [varchar](80) NULL,
	[RecordTypeId] [varchar](18) NULL,
	[CreatedDate] [datetime] NOT NULL,
	[CreatedById] [varchar](18) NOT NULL,
	[LastModifiedDate] [datetime] NOT NULL,
	[LastModifiedById] [varchar](18) NOT NULL,
	[SystemModstamp] [datetime] NOT NULL,
	[LastActivityDate] [datetime] NULL,
	[Account__c] [varchar](18) NULL,
	[Course_Level_Characteristic__c] [varchar](255) NULL,
	[Course_Notes__c] [varchar](1300) NULL,
	[Course_Number__c] [varchar](20) NULL,
	[Course_Weighting_Records__c] [decimal](2, 0) NULL,
	[Credit_Hours__c] [decimal](7, 2) NULL,
	[Credit_Type_Earned__c] [varchar](255) NULL,
	[Credits__c] [decimal](4, 2) NULL,
	[Curriculum_Framework__c] [varchar](255) NULL,
	[Daily_Attendance__c] [int] NOT NULL,
	[Default_Maximum_Enrollment__c] [varchar](20) NULL,
	[Department__c] [varchar](255) NULL,
	[Description__c] [varchar](255) NULL,
	[Display_Numerical_Values_On_Report_Card__c] [int] NOT NULL,
	[Display_Order__c] [decimal](18, 0) NULL,
	[Display_on_Student_Staff_Schedule__c] [int] NOT NULL,
	[Exclude_from_Class_Rank__c] [int] NOT NULL,
	[Exclude_from_GPA__c] [int] NOT NULL,
	[Exclude_from_Honor_Roll__c] [int] NOT NULL,
	[Exclude_on_RC_Transcripts__c] [int] NOT NULL,
	[External_Id__c] [varchar](255) NULL,
	[GPA_Added_Value_Points__c] [decimal](18, 2) NULL,
	[Grade_Scale_Lookup__c] [varchar](18) NULL,
	[Grade_Scale__c] [varchar](255) NULL,
	[Grading_reporting_period_length__c] [varchar](255) NULL,
	[Has_Final_Grade__c] [int] NOT NULL,
	[Has_a_lab__c] [int] NOT NULL,
	[Homework_Based__c] [int] NOT NULL,
	[Honors_Course__c] [int] NOT NULL,
	[Include_in_section_snapshot__c] [int] NOT NULL,
	[Legacy_ID__c] [varchar](20) NULL,
	[Max_of_enrollment__c] [varchar](2) NULL,
	[Meets_every_day__c] [int] NOT NULL,
	[Min_of_enrollment__c] [varchar](2) NULL,
	[Multiply_GPA_Added_Value_Points__c] [int] NOT NULL,
	[Name_Spanish__c] [varchar](255) NULL,
	[Number_of_Reporting_Periods__c] [decimal](2, 0) NULL,
	[Pre_requisites__c] [varchar](18) NULL,
	[Reference_Id__c] [varchar](100) NULL,
	[Reporting_Course_Name__c] [varchar](50) NULL,
	[Required_for_graduation__c] [int] NOT NULL,
	[Room_Type__c] [varchar](255) NULL,
	[Secondary_Course_Identifier__c] [varchar](40) NULL,
	[Secondary_Course_Level__c] [varchar](255) NULL,
	[Secondary_Course_Subject_Area__c] [varchar](255) NULL,
	[Special_Subject__c] [int] NOT NULL,
	[Subject_Area_Lookup__c] [varchar](18) NULL,
	[Subject_Area__c] [varchar](255) NULL,
	[Transfer_School__c] [varchar](255) NULL,
	[Type__c] [varchar](255) NULL,
	[Use_Assignment_Type_Percentages__c] [int] NOT NULL,
	[Weightings__c] [varchar](255) NULL,
	[Weighting_Check__c] [decimal](5, 2) NULL
) ON [PRIMARY]

GO
